h1{
    color: red;
}
h2{
    color: blue;
}

.container{
    padding-top: 35px;
    padding-bottom: 20px;
    display: flex;
    justify-content:center;
    align-items:flex-start;
}
.emphasized { 
    font-style: italic; 
}
.bolded { 
    font-weight: bold; 
}
